/* Leave this alone */
* {
	margin: 0;
	padding: 0;
}

/* Leave this alone */
.container {
	width: 960px;
	margin: 0 auto;
}

/* Only adjust if your logo img is height > 160px */
header {
	width: 960px;
	height: 160px;
	display: flex;
	background-color: silver;
}

/*Amanpreet's section*/
.logo-area {
	width: 160px;
	height: 160px;
}

/* Leave this for now, we will style together */
.name-area {
	width: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

/* Leave this for now, we will style together */
nav {
	background-color: yellow;
	width: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

/* Riley's section */
.slideshow {
	width: 960px;
	height: 400px;
	background-color: blue;
}

/* Leave this alone */
.content-row-1 {
	width: 100%;
	display: flex;
}

/* Nick's section */
.menu-area {
	width: 100%;
	height: 200px;
	background-color: lightgreen;
	padding: 30px;
}

/* Leave this alone */
.content-row-2 {
	width: 100%;
	display: flex;
}

/* Amanpreet's sections */
.deals-area {
	width: 600px;
	height: 250px;
}

/* Kashish's section */
.map-area {
	width: 360px;
	background-color: lightpink;
	padding: 30px;
}

/* Leave this alone */
.content-row-3 {
	width: 100%;
	display: flex;
}

/*Amanpreet's section */
.contact-area {
	width: 360px;
	padding: 30px;
}

/* Amanpreet's section */
.about-area {
	width: 600px;
	padding: 30px;
}
